{{> header  }}
{{> navbar }}
<div class="jumbotron">
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>
                Lorem ipsunm About this page... Do not play with US!!!
            </p>
        </div>
        <div class="col-4">
            <img src="/assets/img/about.jpg" alt="" class="img-thumbnail">
            
        </div>
    </div>
</div>
{{> footer  }}
